<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/favicon.ico" />
  <title>Federal</title>
</head>

<body>
  <div class='wrapper__federal'>
    <div id="section-one" class="section__wrapper">
      <section class="section section-one">
        <div class="section__left">
          <div class="section__title">
            <img class="image_first_screen_text"
              src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/first_screen_text.png"
              alt="first_screen_text.png">
          </div>
          <div class="section__main-text">При покупке комплекта бытовой техники</div>
          <img class="first_screen_banner_logo"
            src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/first_screen_banner.png"
            alt="first_screen_banner_logo.png">
          <div class="section__button-link">
            <a href="#section-three" class="section__button-link--link link_main">Выбрать подарки</a>
          </div>
        </div>
        <div class="section__right">
          <img class="first_screen_banner_logo"
            src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/first_screen_banner_logo.png"
            alt="first_screen_banner_logo.png">

        </div>
      </section>
    </div>
    <div id="section-two" class="section__wrapper">
      <section class="section section-two">
        <div class="section__left">
          <div class="section__title">Покупайте <span class="section__button-link--link gradient_2_1">3
              прибора</span><br> бытовой техники</div>
          <div class="section__button-link">
            <img class="section2_logo" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/section2_logo.png"
              alt="section2_logo">
            <img class="image_section2_arrow"
              src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/section2_arrow.png" alt="section2_arrow">
          </div>
        </div>
        <div class="section__right">
          <div class="section__title">Получайте в подарок</div>
          <div class="section__button-link gradient">
            <span class="section__button-link--link gradient_2_2">стиральная машина</span>
            <span class="section__button-link--link gradient_2_2">микроволновая печь</span>
            <span class="section__button-link--link gradient_2_2">посудомоечная машина</span>
          </div>
        </div>
      </section>
    </div>
    <div id="section-three" class="section__wrapper">
      <section class="section section-three">
        <div class="section__left">
          <div class="section__title">Выбирайте свой подарок</div>
          <div class="section__main-text">При покупке 3-х приборов бытовой техники KÖRTING, вы получаете на выбор:</div>
        </div>
        <div class="section__right">
          <div class="section__right__slider slider">
            <div class="slider__arrow icon-Arrow-left">
              <img class="image_arrow-left" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/arrow.png"
                alt="arrow-left">
            </div>
            <div class="slider__wrapper">
              <div class="main__items">

              </div>
            </div>
            <div class="slider__arrow icon-Arrow-right">
              <img class="image_arrow-right" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/arrow.png"
                alt="arrow-right">
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="section-four" class="section__wrapper">
      <section class="section section-four">
        <div class="section__left">
          <div class="section__title">Условия акции</div>
          <div class="section__rules">
            <div class="section__rule-wrapper">
              <div class="section__rule-number">
                1
              </div>
              <div class="section__rule">
                <div class="section__rule-text">
                  Участвуйте в акции <br>в период ее проведения
                </div>
                <img class="section__rule-img"
                  src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/uslovia_img_1.png"
                  alt="uslovia_img_1.png">
              </div>
            </div>
            <div class="section__rule-wrapper">
              <div class="section__rule-number">
                2
              </div>
              <div class="section__rule">
                <div class="section__rule-text">
                  Заходите в наш <br>интернет-магазин <br><span class="nowrap">или <span class="highlited">магазины
                      партнеров</span></span>
                </div>
                <img class="section__rule-img"
                  src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/uslovia_img_2.png"
                  alt="uslovia_img_2.png">
              </div>
            </div>
            <div class="section__rule-wrapper">
              <div class="section__rule-number">
                3
              </div>
              <div class="section__rule">
                <div class="section__rule-text">
                  <span class="nowrap">Приобретайте товары </span><br>Korting <span class="highlited">из разных<br>
                    категорий</span>
                </div>
                <img class="section__rule-img"
                  src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/uslovia_img_3.png"
                  alt="uslovia_img_3.png">
              </div>
            </div>
            <div class="section__rule-wrapper">
              <div class="section__rule-number">
                4
              </div>
              <div class="section__rule">
                <div class="section__rule-text">
                  Не забудьте духовой<br> шкаф, он <span class="highlited">обязателен </span><br><span
                    class="highlited">в комплекте</span>
                </div>
                <img class="section__rule-img"
                  src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/uslovia_img_4.png"
                  alt="uslovia_img_4.png">
              </div>
            </div>
            <div class="section__rule-wrapper">
              <div class="section__rule-number">
                5
              </div>
              <div class="section__rule">
                <div class="section__rule-text">
                  Совершайте покупку<br> и <span class="highlited">получайте подарок!</span>
                </div>
                <img class="section__rule-img"
                  src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/first_screen_banner.png"
                  alt="first_screen_banner.png">
              </div>
              <img class="section__rule-img big_img"
                src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/first_screen_banner.png"
                alt="first_screen_banner.png">
            </div>
            <img class="section__rule-img big_img circle"
              src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/uslovia_img_circle.png"
              alt="uslovia_circle.png">
          </div>

        </div>
        <div class="section__right">

          <div class="section__main-text">
            Скидки не суммируются со скидками из других акций.
            Организатор оставляет за собой право на преждевременную остановку акции и изменение ее сроков.
            Все приборы в комплекте должны соответствовать актуальному ассортименту KÖRTING.
          </div>
          <div class="section__button-link"><a
              href="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/Terms_of_the_promotion_Korting.pdf"
              target="_blank" class="section__button-link--link">Все условия акции pdf</a>
          </div>
        </div>
      </section>
    </div>
    <div id="section-five" class="section__wrapper">
      <section class="section section-five">
        <div class="section__additional__wrapper">
          <div class="section__left">
            <div class="section__title">Партнеры - участники акции</div>
            <div class="section__main-text">
              Для просмотра партнеров в вашем регионе выберите город
            </div>
          </div>
          <div class="section__right">
            <div class="federal__dropdown">
              <div class="dropdown__select">
                <div id="myDropdown" class="dropdown-wrapper">
                  <div class="dropdown__input">
                    <input type="text" placeholder="Поиск.." id="myInput" value="Москва">
                    <span class="dropdown__input-close"><img
                        src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/close.png" alt="close.png"></span>
                  </div>
                  <ul class="dropdown-content">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="section__bottom">
            <div class="dropdown__result">
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="section-six" class="section__wrapper">
      <section class="section section-six">
        <div class="section__left">
          <div class="section__term">
            <a href="#section-four" class="section__button-link--link">Условия акции</a>
          </div>
          <div class="section__right">
            <div class="section__timer-wrapper" data-progress="0">
              <div class="section__timer-comma">
                <img class="image_timer-comma" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick_img.png"
                  alt="timer-comma">
              </div>
              <span>Осталось: </span>
              <div class="section__timer">
                <div class="section__timer-days">
                  <div class="section__timer-day">
                    20
                  </div>
                  <div class="section__timer-day-text">
                    д
                  </div>
                </div>
                <div class="section__timer-hours">
                  <div class="section__timer-hour">
                    15
                  </div>
                  <div class="section__timer-hour-text">
                    ч
                  </div>
                </div>
                <div class="section__timer-minutes">
                  <div class="section__timer-minute">
                    19
                  </div>
                  <div class="section__timer-minute-text">
                    мин
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</body>

</html>