<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/favicon.ico" />
  <title>Federal</title>
</head>

<body>
  <div class='wrapper__federal'>
    <div id="section-one" class="section__wrapper">
      <section class="section section-one">
        <div class="section__left">
     
          <div class="section__title">Korting дарит подарки!</div>
          <div class="section__main-text">Покупай набор техники кертинг 
            и получай гарантированный подарок</div>
          <div class="section__button-link">
            <a href="#section-four" class="section__button-link--link">Узнать условия акции</a>
          </div>
        </div>
        <div class="section__right">
          <img class="image1" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/first_screen_big_1.png" alt="First_screen_big.png">
  
        </div>
      </section>
    </div>
    <div id="section-two" class="section__wrapper">
      <section class="section section-two">
        <div class="section__left">
          <div class="section__title">Покупайте бытовую технику Korting</div>
          <div class="section__button-link gradient">
            <a href="#section-four" class="section__button-link--link">3 прибора</a>
          </div>
        </div>
        <div class="section__left">
          <div class="section__title">Получаете в подарок бытовую технику </div>
          <div class="section__button-link gradient">
            <a href="#section-four" class="section__button-link--link">подарок от 40 000 ₽</a>
          </div>
        </div>
      </section>
    </div>
    <div id="section-three" class="section__wrapper">
      <section class="section section-three">
        <div class="section__left">
          <div class="section__title">Выбирай свой подарок</div>
          <div class="section__main-text">При покупке 3 приборов бытовой техники KÖRTING один из предметов крупной бытовой техники в подарок</div>
        </div>
        <div class="section__right">
          <img class="image1" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/section3.png" alt="First_screen_big.png">
      </section>
    </div>
    <div id="section-four" class="section__wrapper">
      <section class="section section-four">
        <div class="section__left">
          <div class="section__title">Условия акции</div>
          <div class="section__main-text">Период проведения акции
            01.02.23 - 31.03.23
          </div>
          <div class="section__button-link"><a href="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/Terms_of_the_promotion_Korting.pdf"
              target="_blank" class="section__button-link--link">Все условия акции pdf</a></div>

        </div>
        <div class="section__right">
          <div class="section__rules">
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Период проведения акции
                01.02.23 - 31.03.23
              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Для получения подарка, купленный комплект должен
                состоять из трех приборов бытовой техники KÖRTING
              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                В акции участвует весь ассортимент отдельностоящей и встраиваемой крупной бытовой техники бренда KÖRTING

              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Подарочным прибором является KMI 825 XN, KMI 825 TGN, KDI 45140, KDI 60110, KDF 45240, KDF 60060, KWM 40B1060
              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Все приборы в комплекте должны быть из разных
                товарных категорий актуального ассортимента KÖRTING
              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Организатор оставляет за собой право на преждевременную
                остановку акции и изменение ее сроков
              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Скидки не суммируются со скидками из других акций
              </div>
            </div>
            <div class="section__rule">
              <img class="section__rule-img" src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/tick-circle.png" alt="tick-circle.png">
              <div class="section__rule-text">
                Все приборы в комплекте должны соответствовать
                актуальному ассортименту KÖRTING
              </div>
            </div>
          </div>
          <div class="section__button-link"><a href="/promo/federal/assets/Terms_of_the_promotion_Korting.pdf"
              target="_blank" class="section__button-link--link">Все условия акции pdf</a></div>
        </div>
      </section>
    </div>
    <div id="section-five" class="section__wrapper">
      <section class="section section-five">
        <div class="section__left">
          <div class="section__title">Список партнеров, участвующих в акции</div>
          <div class="section__main-text">Выберете свой город для просмотра парнеров
          </div>
        </div>
        <div class="section__right">
          <div class="federal__dropdown">
            <div class="dropdown__text">
              Выберете свой город<br class="dropdown__text--sub"> для просмотра партнеров
            </div>
            <div class="dropdown__select">
              <div id="myDropdown" class="dropdown-wrapper">
                <div class="dropdown__input">
                  <input type="text" placeholder="Поиск.." id="myInput" value="Москва">
                  <span class="dropdown__input-close"><img src="<%= JSON.parse(htmlWebpackPlugin.options.env) %>assets/close.png" alt="close.png"></span>
                </div>
                <ul class="dropdown-content">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="section__bottom">
          <div class="dropdown__result">
          </div>
        </div>
      </section>
    </div>
    <div id="section-six" class="section__wrapper">
      <section class="section section-six">
        <div class="section__left">
          <div class="section__title">
            До окончания<br>
            акции осталось</div>
          <div class="section__main-text">
            Успейте приобрести 3 прибора
            бытовой техники KÖRTING и
            получить посудомоечную
            машину в подарок
          </div>
        </div>
        <div class="section__right">
          <div class="section__timer-wrapper" data-progress="0">
            <div class="quad1"></div>
            <div class="quad2"></div>
            <div class="quad3"></div>
            <div class="quad4"></div>
            <div class="section__timer">
              <div class="section__timer-days">
                <div class="section__timer-day">
                  20
                </div>
                <div class="section__timer-day-text">
                  дней
                </div>
              </div>
              <div class="section__timer-comma">:</div>
              <div class="section__timer-hours">
                <div class="section__timer-hour">
                  15
                </div>
                <div class="section__timer-hour-text">
                  часов
                </div>
              </div>
              <div class="section__timer-comma">:</div>
              <div class="section__timer-minutes">
                <div class="section__timer-minute">
                  19
                </div>
                <div class="section__timer-minute-text">
                  минут
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>